<div class="container-fluid vh-100 bg-dark">
  <div class="p-5">
    <h1 class="p-5 bg-gradient text-white">{{character.name}}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="{{character.img}}" alt="" class="" style="max-height: 500px">
      </div>
      <div class="col-6">
        <p class="text-white"><span class="text-success m-3 fw-bold">Nick Name: </span> {{character.nickname}}</p>
        <p class="text-white"><span class="text-success m-3 fw-bold">Birth date: </span> {{character.birthday}}</p>
        <p class="text-white"><span class="text-success m-3 fw-bold">Category: </span> {{character.category}}</p>
      </div>
    </div>
  </div>
</div>